* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #4a5a2f;
    color: white;
}

/* NAVBAR */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: rgb(5, 36, 3);
}

